<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ねこのて！</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/materialize-css@0.100.2/dist/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@3/dist/fullcalendar.min.css">
    <link rel="stylesheet" href="/css/cathelp.css">
  </head>
  <body>
    <!-- ナビゲーションバーなど -->
    <header>
      <nav class="nav-extended">
        <div class="nav-wrapper">
          <a class="brand-logo" href=".">ねこのて！</a>
          <ul class="right">
            <li>
              <a class="dropdown-button" data-activates="setting" data-beloworigin="true" data-constrainwidth="false" href="#">
                <i class="fa fa-cog fa-2x"></i>
              </a>
              <ul class="dropdown-content" id="setting">
                <li><a class="modal-trigger" href="#user-setting">個人設定</a></li>
                <li class="divider"></li>
                <li><a class="modal-trigger" href="#modal1">やべえ！</a></li>
                <li class="divider"></li>
                <li><a href="/">ログアウト</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="nav-content">
          <ul id="navigation-tabs">
            <li class="tab"><a href="#schedule"><i class="fa fa-calendar fa-2x"></i></a></li>
            <li class="tab"><a href="#item"><i class="fa fa-wrench fa-2x"></i></a></li>
            <li class="tab"><a href="#room"><i class="fa fa-home fa-2x"></i></a></li>
            <li class="tab"><a href="#cat-help"><i class="fa fa-paw fa-2x"></i></a></li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- メインコンテンツ -->
    <main>
      <div class="panel" id="schedule">
        <div class="row">
          <div class="col s12">
            <h2 class="panel-header">スケジュール</h2>
            <div class="wrapper">
              <div class="calendar"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel" id="item">
        <div class="row">
          <div class="col s9">
            <h2 class="panel-header">備品予約</h2>
            <div class="wrapper">
              <div class="calendar"></div>
            </div>
          </div>
          <div class="col s3">
            <form id="item-search" action="#" method="post">
              <div class="input-field">
                <input name="item" type="search">
                <button class="btn-flat" type="submit"><i class="fa fa-search"></i></button>
              </div>
            </form>
            <div class="wrapper">
              <ul class="collapsible" id="item-list" data-collapsible="accordion">
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="panel" id="room">
        <div class="row">
          <div class="col s9">
            <h2 class="panel-header">施設予約</h2>
            <div class="wrapper">
              <div class="calendar"></div>
            </div>
          </div>
          <div class="col s3">
            <form id="room-search" action="#" method="post">
              <div class="input-field">
                <input name="room" type="search">
                <button class="btn-flat" type="submit"><i class="fa fa-search"></i></button>
              </div>
            </form>
            <div class="wrapper">
              <ul class="collapsible" id="room-list" data-collapsible="accordion">
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="panel" id="cat-help">
        <h2 class="panel-header">ねこのてリスト</h2>
        <div class="row">
          <table>
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Time</th>
                  <th>Button</th>
              </tr>
            </thead>
            <tbody>
              <!-- ajaxで挿入される -->
            </tbody>
          </table>
        </div>
      </div>
    </main>

    <!-- modal window -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>本当に押しますか！？</h4>
        <p>ヤベェボタンを押すと取り消すことは出来ません。</p>
        <p>本当に押しますか</p>
        <button id="yabeBtn">
          <img src="../img/attentionBtn.png" alt="">
        </button>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">救援中止</a>
      </div>
    </div>


    <!-- スケジュール登録 -->
    <div class="modal modal-fixed-footer" id="schedule-reservation">
      <div class="modal-content">
        <h4>予定を追加します。</h4>
        <div class="stime"></div>
        <div class="etime"></div>
        <input name="name" type="text" placeholder="予定の名前">
      </div>
      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn" href="#">追加する</a>
      </div>
    </div>

    <!-- 備品予約ダイアログ -->
    <div class="modal modal-fixed-footer" id="item-reservation">
      <div class="modal-content">
        <h4>備品を予約します。</h4>
        <div class="stime"></div>
        <div class="etime"></div>
      </div>
      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn" href="#">予約する</a>
      </div>
    </div>

    <!-- 施設予約ダイアログ -->
    <div class="modal modal-fixed-footer" id="room-reservation">
      <div class="modal-content">
        <h4>施設を予約します。</h4>
        <div class="stime"></div>
        <div class="etime"></div>
      </div>
      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn" href="#">予約する</a>
      </div>
    </div>

    <!-- ユーザー設定ダイアログ -->
    <div class="modal modal-fixed-footer" id="user-setting">
      <div class="modal-content">
        <h4>設定</h4>
      </div>
      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn" href="#">保存する</a>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/materialize-css@0.100.2/dist/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/combine/npm/fullcalendar@3,npm/fullcalendar@3/dist/locale/ja.min.js"></script>
    <script src="/js/cathelp.js"></script>
  </body>
</html>
